<table class="table col-4" *ngIf="nations?.length">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">名称</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let nation of nations">
    <td>{{nation.id}}</td>
    <td>{{nation.name}}</td>
  </tr>
</table>
<button type="button" class="btn btn-primary" (click)="show = !show">新增</button>

<form class="col-3" *ngIf="show">
  <div class="form-group">
    <label for="id">id</label>
    <input type="text" class="form-control" id="id" [(ngModel)]="model.id" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}">
  </div>
  <button type="submit" class="btn btn-primary" (click)="save()">保存</button>
</form>
